:root{
    --color1: #F5EEDC;
    --color2: #183B4E ;
    --color3: #DDA853;
    --color4: #27548A;
}
.linha-vertical{
    border-left: 1px solid black;
    height: auto;
}
.sumario-divisor{
    border-bottom: 1px solid black;
    margin-bottom: 5px;
}
.row.ul{
    margin-top: 20px;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 25px;
    border: 1px solid black;
    box-shadow: 1px 1px 1px black;
}
.nav-li{
    display: flex;
    justify-content: center;
}
.nav-a{
    text-decoration: none;
    color: var(--color4);
    font-weight: 600;
}
.exercicios{
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
.exercicio-lista{
    border: 1px solid black;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}