:root{
    --color1: #F5EEDC;
    --color2: #183B4E ;
    --color3: #DDA853;
    --color4: #27548A;
}

*{
    margin: 0 auto;
}
body{
    background-color: var(--color1);
}

.navbar{
    background-color: var(--color2) !important;
}
.navbar-brand:hover{
    color: #DDA853;
    text-shadow: 1px 1px 3px #F5EEDC;
    transform: scale(1.05);
    transition: 0.4s;
}
.navbar-toggler{
    background-color: var(--color1);
}
.navbar-toggler:hover{
    background-color: var(--color3);
    
}

.navbar a{
    color: aliceblue;
}
.navbar .nav-link:hover{
    transform: scale(1.01);
    transition: 0.4s;
    border-bottom: 1px solid #DDA853;
}
.navbar .nav-link.active{
    color: var(--color3);
}

.exercicios{
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 40px;
    background-color: var(--color3);
    box-shadow: 3px 3px 3px black;
    border-radius: 5px;
    
}
.exercicio-card{
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}



footer{
    background-color: var(--color2);
    padding: 20px;
    padding-bottom: 10px;
    color: aliceblue;
}
.texto{
    display: flex;
    align-items: center;
}
.nav-link{
    color: aliceblue;
}
.nav-link:hover{
    text-shadow: 1px 1px 3px var(--color1);
    color: var(--color3);
}
.direitos{
    margin-top: 20px;
    margin-bottom: 0;
}
